<div id="<%= dom_id money_transaction %>">
  <p>
    <strong>Amount:</strong>
    <span><%= money_transaction.amount %></span>
  </p>

  <p>
    <strong>Description:</strong>
    <span><%= money_transaction.description %></span>
  </p>

  <p>
    <strong>Transaction category:</strong>
    <span><%= money_transaction.transaction_category_id %></span>
  </p>

</div>
