<h1>Editing transaction category</h1>

<%= render "form", transaction_category: @transaction_category %>

<br>

<div>
  <%= link_to "Show this transaction category", @transaction_category %> |
  <%= link_to "Back to transaction categories", transaction_categories_path %>
</div>
